@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.imgX{
    background-image:linear-gradient(to top, rgba(8, 7, 7, 0.536), rgba(0,0,22,2.0)), url(img1.jpg);
    background-size: cover;
    height: 60vh;
}

